#Database
DATABASE_URI_DEV = dialect://username:password@host:db_port/db_name
DATABASE_URI_TEST = dialect://username:password@host:db_port/db_name
DATABASE_URI_PROD = dialect://username:password@host:db_port/db_name

#JWT
PORT = 8000
HOST_CLOUD = user.myserver.aws
JWT_SECRET_WORD = 

#MAIL SERVER
MAIL_HOST = 
MAIL_SEND = 
MAIL_PASS = 

#para local
NODE_TLS_REJECT_UNAUTHORIZED='0'